# Lecture 2
## Expressions, variables, and assignments
### Objectives

* Use Jupyter interactive mode to write code snippets and produce results immediately
* Write and evaluate Python expressions
* Assign values to variables
* Arithmetic operators
* Operator precedence
* Simple data types
  - `int`
  - `float`  
  - `str`
* Dynamic typing, the `type` function, conversions.
* Using `print` and `input`
* Strings: single quotes, multi-line. Raw strings. f-strings
* String indexing and methods of string: `split`, `join`.
* Comparison operators, boolean data type
* Functions `min` and `max`
* Tuples
* `if` statements

### See also:
  1. Chapter 2 in Deitel "Python for Programmers"
  1. [An Informal Introduction to Python](https://docs.python.org/3.8/tutorial/introduction.html)
  1. Chapters 1 and 2 in "Think Python 2" http://greenteapress.com/thinkpython2/thinkpython2.pdf
  1. Driscol's Python 101 Chapter 2: https://python101.pythonlibrary.org/chapter2_strings.html

## Numeric values and variables

Calculate $\sqrt{3^2 + 4^2}$:

In [2]:
(3**2 + 4**2)**0.5

5.0

Calculate $\sqrt{a^2 + b^2}$:

In [4]:
a = 3
b = 4
c = (a**2 + b**2)**0.5

In [5]:
type(3)

int

In [6]:
type(3/2)

float

In [9]:
type(a), type(b), type(c)

(int, int, float)

In [11]:
type(1/10)

float

In [12]:
type(1//10)

int

In [13]:
type(1.0//10)

float

In [14]:
1.0//10

0.0

In [15]:
a

3

In [16]:
a = a + 2

In [17]:
a

5

In [18]:
a += 2

In [19]:
a

7

In [20]:
a = .1
a += .1
a += .1
a -= .3
print(a)

5.551115123125783e-17

In [21]:
a = 1_000_000_000

In [22]:
a

1000000000

In [25]:
print(a, c, b)

1000000000 5.0 4

In [26]:
1 + 2.0j

(1+2j)

## Tuples

In [29]:
a = (1, 3, 4)

In [31]:
type(a)

tuple

In [32]:
a = (1, 1.5, (1, 2, 3))

In [33]:
a[0]

1

In [34]:
a[1]

1.5

In [37]:
a[2][1]

2

In [38]:
a

(1, 1.5, (1, 2, 3))

In [39]:
x, y, z = a

In [41]:
z

(1, 2, 3)

In [47]:
a, b, c = 3, 4, 5

In [48]:
a + b

7

In [49]:
a, b = 3, 4, 5

ValueError: too many values to unpack (expected 2)

In [50]:
a = 3, 4, 5

In [51]:
a, b, *d = 3, 4, 5, 6, 7

In [54]:
tuple(d)

(5, 6, 7)

In [55]:
float(3)

3.0

In [56]:
a = 98203809809809809273787798729349827349879287384723984709818

In [57]:
a += 1

In [58]:
a

98203809809809809273787798729349827349879287384723984709819

In [59]:
a = 1, 2, 3, 4, 5, 6, 7, 8, 9

In [65]:
type(a[3])

int

In [70]:
b = a[2:5]

In [72]:
id(b), id(a)

(140103207956064, 140103216914128)

In [79]:
a[0::2]

(1, 3, 5, 7, 9)

In [77]:
a[1:9:3]

(2, 5, 8)

In [82]:
a[:-2]

(1, 4, 7)

In [84]:
a[5]

6

In [85]:
a[-5]

5

In [83]:
a[-5:]

(5, 6, 7, 8, 9)

In [86]:
len(a)

9

## Strings

In [92]:
print("Hello")

Hello

In [90]:
print('Hello, world!')

Hello, world!

In [91]:
print('"Hello"')

"Hello"

In [94]:
print("'Hello'")

'Hello'

In [96]:
print("\"Hello\"\n\tworld")

"Hello"
	world

In [ ]:
### Multiline strings

In [98]:
s = """
    print(3)
    print(5)
    """

In [100]:
print(s)

    print(3)
    print(5)

In [103]:
s = '''
    """
    Yesterday...
    All my troubles seemed so far away.
'''

In [104]:
print(s)

    """
    Yesterday...
    All my troubles seemed so far away.

In [108]:
### comparison
3 == 5

False

In [109]:
'123' == "123"

True

In [110]:
s1 = """
Hello
"""

In [112]:
s1 == "\nHello\n"

True

In [113]:
s = '123456789'

In [115]:
s[::2]

'13579'

In [123]:
s[::-1]

'987654321'

In [ ]:
'1221'

In [ ]:
'tenet'

In [128]:
p = 'word'

In [125]:
s = 'racecar'

In [127]:
s == s[::-1]

True

In [130]:
p == p[::-1]

False

In [131]:
3 != 2

True

In [132]:
3 > 2

True

In [134]:
3 >= 3

True

In [ ]:
### formatting and f-strings

In [135]:
n = 10

In [138]:
str(10) + str(20)

'1020'

In [139]:
str(10 + 20)

'30'

In [140]:
first_name = "Homer"
last_name = "Simpson"

In [141]:
first_name + last_name

'HomerSimpson'

In [146]:
"homer simpson".count('o')

2

In [149]:
help('homer'.isdigit)

Help on built-in function isdigit:

isdigit() method of builtins.str instance
    Return True if the string is a digit string, False otherwise.

    A string is a digit string if all characters in the string are digits and there
    is at least one character in the string.

In [150]:
'homer'.isdigit()

False

In [151]:
'123'.isdigit()

True

In [153]:
int('homer')

ValueError: invalid literal for int() with base 10: 'homer'

In [154]:
'homer'.endswith('er')

True

In [158]:
f"{first_name} {last_name}"

'Homer Simpson'

In [159]:
a = 3
b = 4
f"{a}^2 + {b}^2 = {a**2 + b**2}"

'3^2 + 4^2 = 25'

In [160]:
"{a}^2 + {b}^2 = {c}".format(a=3, b=4, c=a**2 + b**2)

'3^2 + 4^2 = 25'

In [161]:
"Hello" * 3

'HelloHelloHello'

In [162]:
"#" * 80

'################################################################################'

In [163]:
"#" * "#"

TypeError: can't multiply sequence by non-int of type 'str'

## Input

In [167]:
###
s  = int(input("Enter a whole number:"))

Enter a whole number:30.2

ValueError: invalid literal for int() with base 10: '30.2'

In [168]:
f = 30.2

In [170]:
abs(f)

30.2

In [172]:
import math

In [173]:
math.pi

3.141592653589793

In [174]:
import random

In [179]:
random.randint(1, 10)

3

In [180]:
random.choice('abcdefghijklmnopqrstuvwxyz')

'q'

In [182]:
random.choice((1,2,3))

3

In [192]:
# If statements

price = 500

if price >= 500:
    print("that's outrageous")  
    print("but okay")
else:
    print("That's a great deal!")

that's outrageous
but okay

In [195]:
# If statements

price = 300

if price >= 500:
    print("that's outrageous")  
    print("but okay")
elif price < 100:
    print("That's a steal!")
else:
    print('The price is right')

The price is right

In [196]:
a = (1, 2, 3, 4, 5, 6, 7)

In [197]:
len(a)

7

In [198]:
min(a)

1

In [199]:
max(a)

7

In [200]:
sum(a)

28

In [201]:
len('one')

3

In [208]:
sum((1, 3, 1))

5

In [213]:
max(1, 2, 3)

3

# Homework

**Problem 1:** Assign the values of 20, 37.0, and 12.5 to variables `a`, `b`, and `c` and evaluate the expression for their average:
$\frac{a + b + c}{3}$

**Problem 2:** Compute their *geometric* mean $\sqrt[3]{a\cdot b \cdot c}$.

**Problem 3:** Now imagine $a$,$b$, and $c$ are the coefficients in the quadratic equation $a x^2 + b x + c = 0$. Calculate its two roots $x_1 = \frac{-b - \sqrt{d}}{2 a}$ and $x_2 = \frac{-b + \sqrt{d}}{2 a}$ where $d = b^2 - 4ac$. Print the root values.

**Problem 4**: Ask the user to enter three numbers. Then print the minimum, average, and maximum of the three numbers.

**Problem 5**:
The following program computes the area of a circle with radius $r=5$. Modify it to compute the surface area of a cylinder with the same radius and height $h = 10.0$

In [ ]:
import math

r = 5.0
h = 10.0

S = math.pi * r * r

print(f'Area of the circle is {S}')

A = ...

print(f'Area of the cylinder is {A}')

**Problem 6**: The following code prints a random number between 0 and 100. Extend the program to print ten such random numbers and print their mean $\mu$ and their sample variance, which is computed as $ \frac{\sum_{i=1}^n (x_i-\mu)^2}{n-1}$ where $n=10$ in this case.

In [ ]:
import random
x1 = random.randint(0, 100)
print(x1)

**Problem 7:** 
In the following code, the variable `abc` contains the alphabet. Extend the code to print the $n^{th}$ letter of the alphabet:

In [ ]:
abc = 'abcdefghijklmnopqrstuvwxyz'
n = 4
print(...)

**Problem 8:** Using the `abc` string already defined, print the first half of the alphabet.

**Problem 9:** Using the `abc` string, print all the odd letters and the all the even letters.

**Problem 10**: Write code to print a random letter of the alphabet

**Problem 11:** Given the variables `first_name` and `last_name` below, make the string `full_name` in the format `"last_name, first_name"`.

In [ ]:
first_name = "Guido"
last_name = "van Rossum"
full_name = ...

**Problem 12:** 
Ask the user to enter a string and then print its first and last character.

**Problem 13:** 
Ask the user to enter a string and then print its first five characters. What happens if the user enters a shorter string?

**Problem 14:** 
Ask the user to enter a string and then print its last five characters. What happens if the user enters a shorter string?

**Problem 15:** 
The following code assigns values to variables `a` and `b` as a tuple. Write code to swap the values `a` and `b`.

In [ ]:
a, b = 1, 2

print(f"a={a}, b={b}")

**Problem 16:**
Imagine you are given the variables `name` and `occupation` that are created like this:

```python
name = "Alice"
occupation = "student"
```

Write a python statement that uses `name` and `occupation` to print
```
Alice is a student.
```

Alice is a student

**Problem 17:**
Given the tuple `a` filled with numbers, print its sum

```python
a = -0.084, 0.7726, 0.0731, -0.08, -0.2, 1.4953, -0.771, -1.683, -1.936, -0.897, 2.3821, -1.126
```

**Problem 18:**
Print the average value of `a`

**Problem 19**
The following code produces a tuple of 16 random integers between 0 and 4 and assigns it to `r`. Print how many zeros it contains. **Hint:** use a method of tuple.

In [ ]:
import random
r = tuple(random.randint(0, 4) for i in range(16))
print(r)

# add your code here
count = ...
print(f"found {count} zeros")

**Problem 20**
Given a tuple of integer numbers, print how many its values equal the minimum value. You can start with the code in problem 19.