# Lecture 3
## Data structures and loops
### Objectives

* Learn about sequence data types: `list`, `tuple`
  * Create a sequence
  * Look up elements in a sequence
  * Modify a sequence
  * Sort and search sequences
  * the `in` operator
  * other methods of `list` and `tuple`
* Distinguish between mutable and immutable objects
* Key-value mapping: `dict`:
  * Create and update a dictionary
  * Lookup a value by key
  * Remove a key-value pair
* `for` loops
  * iterate through a sequence of objects
  * iterate through a list
  * using the `range` object
  * iterating through dictionaries
* `set`


### See also:
  1. Dietels' "Python for Programmers" https://www.oreilly.com/library/view/python-for-programmers/9780135231364/
    * Chapter 3: Control statements
    * Chapter 5: Sequences lists and tuples
    * Chapter 6: Dictionaries and sets
  1. Python Tutorial:
    * Chapter 4: https://docs.python.org/3.8/tutorial/controlflow.html
    * Chapter 5: https://docs.python.org/3.8/tutorial/datastructures.html
  1. Driscol's Python 101 Chapter 
    * Chapter 3: https://python101.pythonlibrary.org/chapter3_lists_dicts.html
    * Chapter 4: https://python101.pythonlibrary.org/chapter4_conditionals.html
    * Chapter 5: https://python101.pythonlibrary.org/chapter5_loops.html
  1. Wes McKinney, Python for Data Analysis, 2nd Edition https://learning.oreilly.com/library/view/python-for-data/9781491957653/
    * Chapter 3: Built-in data types
     

* For next lecture: 
 Chapter 3: in "Think Python 2" Functions http://greenteapress.com/thinkpython2/thinkpython2.pdf

# Lecture

In [1]:
## Scientific notation

f = 6.02e+22

In [3]:
1/f

1.6611295681063123e-23

## Tuples

In [145]:
a = 3,

In [146]:
a

(3,)

In [147]:
a = ()

In [148]:
a = (1, 2, 3) + (2,)

In [149]:
print(a)

(1, 2, 3, 2)

In [152]:
[1, 2, 3] + [1, 2]

[1, 2, 3, 1, 2]

In [153]:
a = 1, 2, 3
c = ["4", "5", "6"]

In [156]:
c.append("added")

In [157]:
c

['4', '5', '6', 'added']

In [158]:
c.extend("added")

In [159]:
c

['4', '5', '6', 'added', 'a', 'd', 'd', 'e', 'd']

In [155]:
a + tuple(c)

(1, 2, 3, '4', '5', '6')

In [7]:

a = (1, 2, 3, (1, 2, 3))

In [13]:
type(a)

tuple

In [12]:
a[-1][1]

2

In [14]:
b = [1, 2, 3, 4]

In [15]:
type(b)

list

In [16]:
a.count(2)

1

In [17]:
a[0]

1

In [21]:
a[:-1]   # all but last element

(1, 2, 3)

In [20]:
a[::-1]   # reverse order

((1, 2, 3), 3, 2, 1)

In [23]:
a[::2]  # every other element

(1, 3)

In [26]:
c = list(a)

In [ ]:
d = tuple(c)

In [39]:
a = [1, 2, 3, 2, 1, 1, 3, 4, 2, 3, 1]

In [40]:
print(a[2])  # prints the third element

3

In [41]:
a.remove(2)  #  remove the first occurrence of 2

In [42]:
print(a)

[1, 3, 2, 1, 1, 3, 4, 2, 3, 1]

In [44]:
v = a.pop(2)   # get the element at [2] and remove it

In [45]:
v

2

In [46]:
a

[1, 3, 1, 1, 3, 4, 2, 3, 1]

In [48]:
print(a.pop())
print(a)

1
[1, 3, 1, 1, 3, 4, 2, 3]

In [50]:
"hello" in a

False

In [51]:
d, e = "hello", ('h', 'e', 'l', 'l', 'o')

In [54]:
e[0]

'h'

In [55]:
d[0]

'h'

In [57]:
'el' in d

True

In [59]:
'el' in e

False

In [60]:
## Multipy operator on sequences

[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [61]:
(1, 2, 3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [62]:
"123" * 3

'123123123'

In [63]:
len(a)

8

In [66]:
a = [1, 2, 3]
a[0] = 4
print(a)

[4, 2, 3]

In [67]:
a = (1, 2, 3)
a[0] = 4
print(a)

TypeError: 'tuple' object does not support item assignment

### `del` statements

In [70]:
Z = 1
print(Z)
del Z
print(Z)

1

NameError: name 'Z' is not defined

In [72]:
a = [1, 2, 3]

del a[1]

print(a)

[1, 3]

In [73]:
a = [1, 2, 3, 4, 5]

del a[2:]

print(a)

[1, 2]

## `for` loops

In [75]:
seq = 1, 2, 3

for i in seq:
    # do something with 
    print(i**2)

1
4
9

In [76]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [77]:
for i in range(2,100,7):
    print(i)

2
9
16
23
30
37
44
51
58
65
72
79
86
93

In [78]:
for i in range(100,2, -7):
    print(i)

100
93
86
79
72
65
58
51
44
37
30
23
16
9

In [89]:
n = 10
i = 0
s = 0
while i <= n:
    s += i
    i += 1
print(f'The sum is {s}')

The sum is 55

In [84]:
# Problem: sum of all whole numbers from 0 to n, where n=10.

n = 10
s = 0
for i in range(n + 1):
    s += i

print(f'The sum is {s}')

The sum is 55

In [87]:
# Advanced:
print(f'The sum is {sum(range(n+1))}')

The sum is 55
The sum is 55

In [91]:
# Problem count all zeros in the a list
numbers = [1, 2, 0, 3, 0, 7, 0]

numbers.count(0)   # easy

3

In [93]:
# do it the hard way

numbers = [1, 2, 0, 3, 0, 7, 0]

count = 0
for n in numbers:
    if n == 0:
        count += 1
        
print(count)

3

In [94]:
# count all even numbers in a list

numbers = [1, 2, 0, 3, 0, 7, 0]

count = 0
for n in numbers:
    if n % 2 == 0:
        count += 1
        
print(count)

4

In [95]:
# count all odd numbers in a list

numbers = [1, 2, 0, 3, 0, 7, 0]

count = 0
for n in numbers:
    if n % 2:
        count += 1
        
print(count)

3

In [96]:
# count all odd numbers in a list

numbers = [1, 2, 0, 3, 0, 7, 0]

count = 0
for n in numbers:
    count += n % 2
        
print(count)

3

In [97]:
# count all odd numbers in a list
numbers = [1, 2, 0, 3, 0, 7, 0]

print(sum(n % 2 for n in numbers))

3

In [100]:
# nested 
for i in range(10):
    print(i)
    for j in range(i):
        print(' * ' * i)

0
1
 *
2
 *  *
 *  *
3
 *  *  *
 *  *  *
 *  *  *
4
 *  *  *  *
 *  *  *  *
 *  *  *  *
 *  *  *  *
5
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
6
 *  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *
7
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *
8
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
9
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

## Dicts

In [101]:
person = {"name": "Bob", "occupation": "teacher"}

In [102]:
len(person)

2

In [104]:
person['name']

'Bob'

In [105]:
persons = {0: 'Alice', 1: 'Bob', 2:'Charlie'}

In [109]:
for k in person:
    print(k)

name
occupation

In [110]:
for k, v in person.items():
    print(k, v)

name Bob
occupation teacher

In [112]:
person['age'] = 32

In [113]:
person

{'name': 'Bob', 'occupation': 'teacher', 'age': 32}

In [114]:
person[("a", 3)] = 7

In [115]:
person

{'name': 'Bob', 'occupation': 'teacher', 'age': 32, ('a', 3): 7}

In [118]:
staff = ({'name': "Bob", "occupation": 'teacher'}, {'name': "Alice", "occupation": 'student'})

In [119]:
staff[1]['occupation']

'student'

In [121]:
type({})

dict

In [127]:
v = person.get('hobby')

In [129]:
v is None

True

In [135]:
print(person.pop('name'))

Bob

In [136]:
person

{'occupation': 'teacher', 'age': 32, ('a', 3): 7}

## Sets

In [132]:
a = {1, 2, 3, 2, 3}

In [133]:
print(a)

{1, 2, 3}

In [138]:
word = "occurence"
len(word)

9

In [141]:
len(set(word))

6

# Homework

**Problem 1:** *Scientific notation*. 

Earth's mass is $5.97\times10^{24}$ kg.  The Moon's mass is $7.35\times10^{22}$ kg.  Write the python code to calculate how many times heavier the Moon is compared to Earth.

**Problem 2:** *Scientific notation*. 

The energy carried by a blue photon is $E=2.8\;eV$ where $1\;eV  = 1.602\times10^{-19}$ J. 

Consider an LED light bulb that consumes $P=1$ W power and converts $\varepsilon=10$% of it into light? How many photons does it emit every second.

The formula will be $$n = \frac{\varepsilon P}{E\times eV}$$  Write the python expression to calculate and print $n$.

**Problem 3:** 
After executing the following code, which variables point to an object of type `tuple`.

```python
a = {1, 2, 3}
b = "1, 2, 3"
c = (1, 2, 3)
d = [1, 2, 3]
e = 1, 2, 3
```

#### **Problem 4:** *Creating and updating lists.* 
1. Define a list containing the capital letters of the alphabet in order. 
2. Find and print the position of the letters `"I"`, `"P"`, and `"V"` in the list. 
3. After printing these letters emove them from the list. Print the remaining list.

**Problem 5** Nested tuples
The following defines a tuple of tuples

```python
nested_tuple = (4, 5, 6), (), (7, 8), (33, ), (7, 73))
```

Print the second number in the third tuple.

**Problem 6**: Make a dictionary where the keys are the two-letter acronyms of US states and the values are their capitals. 5-6 states will suffice.

**Problem 7**: Organize the following names and occuptions as a list of dictionaries. The list should contain three elements and the keys of the dictionaries must be `name` and `occupation`.

```
name:  Alice
occupation: Student

name:  Bob
occupation: Teacher

name:  Charles
occupation: Nurse
```

**Problem 8**:
Write a `for` loop that prints numbers from 0 to 10.

**Problem 9:** Write a for loop that prints numbers from 10 to 1.

**Problem 10:** Write a for loop that prints numbers from 100 to 0 counting by 7s.

**Problem 11:** Write a for loop computes the sum of all the odd numbers from 0 to `n`.

In [1]:
n = 130
result = ...
...
print(f"The sum is {result}")

The sum is Ellipsis

**Problem 12**: The following code generates the tuple `tup` of 3 random numbers between 0 and 100. Print the largest the three numbers.

In [ ]:
import random
tup = tuple(random.randint(0, 100) for i in range(3))
print(tup)
...

**Problem 13:** 
The following code generates the tuple `tup` of 3 random numbers between 0 and 100. The middle of the three numbers (the one that is neither largest nor smallest).

In [ ]:
import random
tup = tuple(random.randint(0, 100) for i in range(3))
print(tup)
...

**Problem 14:** 
The following code generates the tuple `tup` of 30 random numbers between 0 and 100. Add the code to print all the even numbers from `tup`.

In [ ]:
import random
tup = tuple(random.randint(0, 100) for i in range(30))
print(tup)
...

**Problem 15:** Write the code that prints a square that is `n` in size for example for `n = 6`, it will print

```
# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #
```

In [ ]:
n = 9
...

**Problem 16:** Write the code that prints a triangle that is `n` in size for example for `n = 6`, it will print

```
#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #
```

In [ ]:
n = 7
...

**Problem 17**: Write the code that prints a pyramid that is `n` in size for example for `n = 6`, it will print

```
#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # #
# # # #
# # #
# #
#
```

**Problem 18:** 
The following code generates the list `numbers` of 30 random numbers between 0 and 100. Generate a new list, `big_numbers` that contains all numbers of `numbers` that are greater than 50.

In [ ]:
import random
numbers = [random.randint(0, 100) for i in range(30)]
...

**Problem 19:** 
The following code generates the tuple `sides` of 3 numbers random numbers between 0 and 100. Determine if these numbers could make the sides of a triangle. Three numbers cannot make the sides of a triangle if the largest number is bigger than the other two combined.

In [ ]:
import random
sides = random.randint(0, 100), random.randint(0, 100), random.randint(0, 100)

...
if ... : 
    print(f"The numbers {sides} can make a triangle")
else:
    print(f"The numbers {sides} cannot make a triangle")

**Problem 20:** 
Take a given string `string` and print the number of letters in each of its words:

For example, for `string = "University of Saint Thomas"`, your program will print "10 2 5 6".

In [ ]:
string = "University of Saint Thomas"

**Problem 21:** 
The following code generates the list `numbers` of 30 random numbers between 0 and 10. Print the number of unique numbers in it.

In [ ]:
import random
numbers = [random.randint(0, 10) for i in range(30)]
...